html
    head
        title
            Mock up
        link(rel='stylesheet',href='#{basepath}/assurejs/plugins/Editor/lib/widearea.css')
        link(rel='stylesheet',href="#{basepath}/assurejs/plugins/MenuBar/lib/jquery-ui-1.10.3.custom.min.css")
        script(type="text/javascript",src="#{basepath}/assurejs/lib/jquery.min.js")
        script(type="text/javascript",src="#{basepath}/assurejs/lib/pointer.min.js")
        script(type="text/javascript",src="#{basepath}/assurejs/lib/underscore-min.js")
        script(type="text/javascript",src="#{basepath}/assurejs/lib/ASNParser/peg.js")
        script(type="text/javascript",src="#{basepath}/assurejs/src/CaseModel.js")
        script(type="text/javascript",src="#{basepath}/assurejs/src/CaseViewer.js")
        script(type="text/javascript",src="#{basepath}/assurejs/src/Layout.js")
        script(type="text/javascript",src="#{basepath}/assurejs/src/PlugInManager.js")
        script(type="text/javascript",src="#{basepath}/assurejs/src/ServerApi.js")
        script(type="text/javascript",src="#{basepath}/assurejs/plugins/Editor/lib/codemirror/codemirror.js")
        script(type="text/javascript",src="#{basepath}/assurejs/plugins/Editor/Editor.js")
        script(type="text/javascript",src="#{basepath}/assurejs/plugins/MenuBar/lib/jquery.jqdock.min.js")
        script(type="text/javascript",src="#{basepath}/assurejs/plugins/MenuBar/lib/jquery-ui-1.10.3.custom.min.js")
        script(type="text/javascript",src="#{basepath}/assurejs/plugins/MenuBar/MenuBar.js")
        script(type="text/javascript",src="#{basepath}/assurejs/plugins/Annotation/Annotation.js")
        script(type="text/javascript",src="#{basepath}/assurejs/plugins/Monitor/Monitor.js")
        script(type="text/javascript",src="#{basepath}/assurejs/plugins/Note/Note.js")
        script(type="text/javascript",src="#{basepath}/assurejs/src/CaseDecoder.js")
        script(type="text/javascript",src="#{basepath}/assurejs/mock/Index.js")
    body(style="overflow: hidden; margin: 0px;")
    #viewer(style="width: 100%; height: 100%;")
        svg#layer0box(xmlns="http://www.w3.org/2000/svg",version="1.1",style="width: 100%; height: 100%; position: absolute")
            g#layer0(transform="translate(0,0)")
        #background(style="width: 100%; height: 100%; position: absolute;")
        #layer1(style="width: 100%; height: 100%; position: absolute;")
        #layer2(style="width: 0px; height: 0px; position: absolute;")
    svg(width="0",height="0")
        defs
            marker#Triangle-black(viewBox="0 0 10 10",refX="10",refY="5",markerUnits="strokeWidth",markerWidth="15",markerHeight="9",orient="auto")
                path(d="M 0 0 L 10 5 L 0 10 z",fill="gray",stroke="gray")
            marker#Triangle-white(viewBox="0 0 10 10",refX="10",refY="5",markerUnits="strokeWidth",markerWidth="15",markerHeight="9",orient="auto")
                path(d="M 0 0 L 10 5 L 0 10 z",fill="white",stroke="gray")
    #editor-wrapper(style="border: 1px solid black")
        textarea#editor(placeholder="Type something...")
