include mixin
html
    head
        include mobile
        title Assure-It
        +css("/lib/bootstrap3/css/bootstrap.min.css")
        +css("/stylesheets/dcase-node.css")
        +css("/assurejs/plugins/Editor/lib/codemirror/codemirror.css")
        +css("/assurejs/plugins/MenuBar/lib/jquery-ui-1.10.3.custom.min.css")
        +css("/assurejs/plugins/Monitor/lib/DataTables-1.9.4/css/jquery.dataTables.css")
        +css("/assurejs/lib/animate-custom.css")
        +css("/stylesheets/sidemenu.css")
        +css("/stylesheets/historymenu.css")
        +css("/stylesheets/index.css")

    body(style="overflow: hidden; margin: 0px;")
        a(href="#{basepath}/")
            img#menu-button(src="#{basepath}/images/ait.png") Menu
        //#assureit-status
            ul
                li#assureit-mode Viewer mode
        #viewer(style="width: 100%; height: 100%;")
            svg#layer0box(xmlns="http://www.w3.org/2000/svg",version="1.1",style="width: 100%; height: 100%; position: absolute")
                g#layer0(transform="translate(0,0)")
            #background(style="width: 100%; height: 100%; position: absolute;")
            #layer1(style="width: 0px; height: 0px; position: absolute;")
            include sidemenu
            if commitHistory
                include historymenu
            #layer2(style="width: 0px; height: 0px; position: absolute;")
        svg(width="0",height="0")
            defs
                marker#Triangle-black(viewBox="0 0 10 10",refX="10",refY="5",markerUnits="strokeWidth",markerWidth="15",markerHeight="9",orient="auto")
                    path(d="M 0 0 L 10 5 L 0 10 z",fill="gray",stroke="gray")
                marker#Triangle-white(viewBox="0 0 10 10",refX="10",refY="5",markerUnits="strokeWidth",markerWidth="15",markerHeight="9",orient="auto")
                    path(d="M 0 0 L 10 5 L 0 10 z",fill="white",stroke="gray")
                polygon#UndevelopdSymbol(fill="none",stroke="#333",stroke-width="1.5",points="0 -20 -20 0 0 20 20 0")
        #editor-wrapper(style="border: 1px solid black")
            textarea#editor(placeholder="Type something...")
        #fullscreen-editor-wrapper(style="border: 1px solid black")
            textarea#fullscreen-editor(placeholder="Type something...")
        #dscript-editor-wrapper(style="border: 1px solid black")
            div
                textarea#dscript-editor-left(placeholder="")
            div
                textarea#dscript-editor-right(placeholder="Generated code goes here.")

        +js("/javascripts/sidemenu.js")
        +js("/javascripts/timeutil.js")
        +js("/assurejs/lib/jquery.min.js")
        +js('/lib/jquery.tmpl.min.js')
        +js("/assurejs/lib/jquery.cookie.js")
        +js("/lib/bootstrap3/js/bootstrap.min.js")
        +js("/assurejs/lib/pointer.min.js")
        +js("/assurejs/lib/underscore-min.js")
        +js("/assurejs/lib/ASNParser/peg.js")
        +js("/assurejs/src/CaseModel.js")
        +js("/assurejs/src/CaseViewer.js")
        +js("/assurejs/src/Converter.js")
        +js("/assurejs/src/CaseEncoder.js")
        +js("/assurejs/src/CaseDecoder.js")
        +js("/assurejs/src/CommitModel.js")
        +js("/assurejs/src/EditorUtil.js")
        +js("/assurejs/src/RecApi.js")
        +js("/assurejs/src/AssureItAgentApi.js")
        +js("/assurejs/src/Layout.js")
        +js("/assurejs/src/PlugInManager.js")
        +js("/assurejs/src/ServerApi.js")
        +js("/assurejs/src/Pattern.js")
        +js("/assurejs/src/SideMenuModel.js")
        +js("/assurejs/plugins/ColorTheme/ColorTheme.js")
        +js("/assurejs/plugins/Editor/lib/codemirror/codemirror.js")
        +js("/assurejs/plugins/Editor/lib/codemirror/mode/ASN/asn.js")
        +js("/assurejs/plugins/Editor/lib/codemirror/display/placeholder.js")
        +js("/assurejs/plugins/SearchNode/SearchNode.js")
        +js("/assurejs/plugins/SimplePattern/SimplePattern.js")
        +js("/assurejs/plugins/DScript/DScript.js")
        +js("/assurejs/plugins/Editor/Editor.js")
        +js("/assurejs/plugins/MenuBar/lib/jquery.jqdock.min.js")
        +js("/assurejs/plugins/MenuBar/lib/jquery-ui-1.10.3.custom.min.js")
        +js("/assurejs/plugins/MenuBar/MenuBar.js")
        +js("/assurejs/plugins/Scale/Scale.js")
        +js("/assurejs/plugins/Scale/ScaleUp.js")
        +js("/assurejs/plugins/Commit/Commit.js")
        +js("/assurejs/plugins/DefaultStatementRender/DefaultStatementRender.js")
        +js("/assurejs/plugins/Annotation/Annotation.js")
        +js("/assurejs/plugins/Monitor/lib/DataTables-1.9.4/js/jquery.dataTables.min.js")
        +js("/assurejs/plugins/Monitor/Monitor.js")
        +js("/assurejs/plugins/Note/Note.js")
        +js("/assurejs/plugins/LastModified/LastModified.js")
        +js("/assurejs/plugins/DragFile/DragFile.js")
        +js("/assurejs/plugins/BeforeUnload/BeforeUnload.js")
        +js("/assurejs/plugins/DScript/DScript.js")
        +js("/assurejs/plugins/DScript/DScriptGenerator.js")
        +js("/assurejs/plugins/DScript/DScriptActionMap.js")
        +js("/assurejs/plugins/LayoutPortrait/LayoutPortrait.js")
        +js("/assurejs/plugins/Export/Export.js")
        +js("/assurejs/plugins/TimeLine/TimeLine.js")
        +js("/assurejs/src/CaseDecoder.js")
        +js("/javascripts/config.js")
        script(type='text/javascript').
            $(function(){
               var serverApi = new AssureIt.ServerAPI(Config.BASEPATH, "#{rechost}" + "#{recapi}", "#{agenthost}" + "#{agentapi}");
               var pluginManager = new AssureIt.PlugInManager(Config.BASEPATH);
               pluginManager.SetPlugIn("menu", new MenuBarPlugIn(pluginManager));
               pluginManager.SetPlugIn("scale", new ScalePlugIn(pluginManager));
               pluginManager.SetPlugIn("scaleup", new ScaleUpPlugIn(pluginManager));
               pluginManager.SetPlugIn("colortheme", new TiffanyBlueThemePlugIn(pluginManager));
               pluginManager.SetPlugIn("statements", new DefaultStatementRenderPlugIn(pluginManager));
               pluginManager.SetPlugIn("annotation", new AnnotationPlugIn(pluginManager));
               pluginManager.SetPlugIn("note", new NotePlugIn(pluginManager));
               pluginManager.SetPlugIn("note", new LastModifiedPlugIn(pluginManager));
               pluginManager.SetPlugIn("monitor", new MonitorPlugIn(pluginManager));
               pluginManager.SetPlugIn("dscript", new DScriptPlugIn(pluginManager));
               pluginManager.SetPlugIn("editor", new EditorPlugIn(pluginManager));
               pluginManager.SetPlugIn("file", new DragFilePlugIn(pluginManager));
               pluginManager.SetPlugIn("unload", new BeforeUnloadPlugIn(pluginManager));
               pluginManager.SetPlugIn("portraitlayout", new LayoutPortraitPlugIn(pluginManager));
               pluginManager.SetPlugIn("export", new ExportPlugIn(pluginManager));
               pluginManager.SetPlugIn("timeline", new TimeLinePlugIn(pluginManager));
               pluginManager.SetPlugIn("commit", new CommitPlugIn(pluginManager));
               pluginManager.SetPlugIn("pattern", new SimplePatternPlugIn(pluginManager));
               pluginManager.SetUseLayoutEngine("portraitlayout");

               /* N th oldest commit starting with zero.*/
               var history = Number("#{commitHistory}".length == 0 ? "NaN" : "#{commitHistory}");
               console.log("#{commitHistory}");
               console.log("#{commitHistory}".length);
               var CaseData = serverApi.GetCase("",#{caseId});
               var contents = CaseData.contents;
               var summary = CaseData.summary;
               console.log(summary);
               var PrevContents = null;
               if (!isNaN(history)) {
                   var commits = serverApi.GetCommitList(#{caseId});
                   if (commits.CommitModels.length > history) {
                       var commitModel = commits.CommitModels[history];
                       var commitId = commitModel.CommitId;
                       var OldCaseData = serverApi.GetNodeTree(commitId);
                       contents = OldCaseData.contents;
                       summary = (OldCaseData.summary) ? OldCaseData.summary : "{}";
                       var jsonSummary = JSON.parse(summary);
                       if(history > 0) {
                           var PrevCommitId = commits.CommitModels[history-1].CommitId;
                           PrevContents = serverApi.GetNodeTree(PrevCommitId);
                       }
                       console.log(commitModel);
                       var prevRevisionId = (history == 0) ? 0 : history-1;
                       $("#historymenu_tmpl").tmpl({userName: commitModel.userName, Message: commitModel.Message, dateTime: TimeUtil.formatDate(commitModel.date), dateTimeString: commitModel.date, count: jsonSummary.count, caseId: #{caseId}, revisionId: history, nextRevisionId: history+1, prevRevisionId: prevRevisionId}).appendTo("#historymenu");
                   }
               }
               var Case0 = new AssureIt.Case(CaseData.DCaseName, summary, contents, #{caseId}, CaseData.commitId, pluginManager);
               var caseDecoder = new AssureIt.CaseDecoder();
               var root = caseDecoder.ParseASN(Case0, contents, null);
               Case0.SetElementTop(root);
               if(PrevContents) {
                   var PrevCase = new AssureIt.Case(CaseData.DCaseName, #{caseId}, CaseData.commitId, pluginManager); //FIXME
                   var PrevRoot = new AssureIt.CaseDecoder().ParseASN(PrevCase, PrevContents, null);
                   PrevCase.SetElementTop(root);
                   Case0.DiffCase(PrevCase);
               }
               var backgroundlayer = document.getElementById("background");
               var shapelayer = document.getElementById("layer0");
               var contentlayer = document.getElementById("layer1");
               var controllayer = document.getElementById("layer2");

               var Screen = new AssureIt.ScreenManager(shapelayer, contentlayer, controllayer, backgroundlayer);
               var Viewer = new AssureIt.CaseViewer(Case0, pluginManager, serverApi, Screen);

               if (!isNaN(history)) {
                   Case0.SetEditable(false);
               } else {
                   Case0.SetEditable("#{userName}".length > 0);
               }

               pluginManager.RegisterKeyEvents(Case0, serverApi);
               pluginManager.CreateSideMenu(Viewer, Case0, serverApi);

               Viewer.Draw();
               Viewer.Screen.SetOffset(($('html').width() / 2) - ((AssureIt.CaseViewer.ElementWidth) + Viewer.ViewMap[Viewer.ElementTop.Label].AbsX),80); //Center TopGoal in the view
               if(Case0.IsEditable()) {
                   $('#assureit-mode').text("Edit mode");
                   Case0.SetModified(false);
               }
            });
