.panel.panel-default.historymenu
    .panel-body
        h4.list-group-item-heading
            a(href='#{basepath}/case/${caseId}/history/${revisionId}') ${Message}
            small.pull-right ${count} nodes
        p.list-group-item-text
            small
                |${userName} commited 
                abbr(title="${dateTimeString}") ${dateTime}
        p.list-group-item-text.text-right
            small
                | Added 
                abbr(title="${addedString}") ${added} 
                | node(s).
        p.list-group-item-text.text-right
            small
                | Modified 
                abbr(title="${modifiedString}") ${modified} 
                | node(s).
        p.list-group-item-text.text-right
            small
                | Deleted 
                abbr(title="${deletedString}") ${deleted} 
                | node(s).
