extends base
block script
    +js('/javascripts/route/history.js')
    script(type='text/javascript').

block append content
    +template("history_tmpl")
        .panel.panel-default
            .panel-body
                h4.list-group-item-heading
                    a(href='#{basepath}/case/${caseId}/history/${revisionId}') ${Message}
                    small.pull-right 0 nodes
                p.list-group-item-text
                    small
                        |${userName} commited 
                        abbr(title="${dateTimeString}") ${dateTime}

    include logo
    .menu
        ul#drop-menu
            if userName
                li#monitors-menu
                    a(href='#') Monitors
                li#settings-menu
                    a(href='#') Settings
                include signout
            else
                include signin
block content
    .container
        .row
            .col-md-6.col-md-offset-3
                h2 History&nbsp;
                hr
                #history-list
