extends base
block script
    +js('/javascripts/route/history.js')
    script(type='text/javascript').

block append content
    +template("history_tmpl")
        .panel.panel-default
            .panel-body
                h4.list-group-item-heading
                    a(href='#{basepath}/case/${caseId}/history/${revisionId}') ${Message}
                    small.pull-right ${count} nodes
                p.list-group-item-text
                    small
                        |${userName} commited 
                        abbr(title="${dateTimeString}") ${dateTime}
                p.list-group-item-text.text-right
                    small
                        | Added 
                        abbr(title="${addedString}") ${added} 
                        | node(s).
                p.list-group-item-text.text-right
                    small
                        | Modified 
                        abbr(title="${modifiedString}") ${modified} 
                        | node(s).
                p.list-group-item-text.text-right
                    small
                        | Deleted 
                        abbr(title="${deletedString}") ${deleted} 
                        | node(s).
block content
    +mainCollum
        h2 Change History&nbsp;
        hr
        #history-list
