extends base
block script
    +js('/javascripts/route/index.js')
    //for XML import
    +js("/assurejs/src/CaseEncoder.js")
    +js("/assurejs/src/Converter.js")
    +js("/assurejs/src/CaseDecoder.js")
    +js("/assurejs/src/CaseModel.js")
    +js("/assurejs/src/PlugInManager.js")

block append content
    +template("case_tmpl")
        li.list-group-item
            h4.list-group-item-heading
                //|@${dcaseId} 
                a(href='#{basepath}/case/${dcaseId}') ${dcaseName}
                small.pull-right 0 nodes
            p.list-group-item-text ${description}
                small
                    |${userName} updated 
                    abbr(title="${latestCommit.dateTime}") ${dateTime}
                if userName
                    small.pull-right
                        a.text-danger.DeleteCaseButton
                            span.glyphicon.glyphicon-trash
                            | &nbsp;Delete
    +template("project_tmpl")
        .panel.panel-default(id="project${projectId}")
            .panel-heading
                h4
                    if userName
                        a(href='#{basepath}/project/${projectId}/edit') ${projectName}
                    else
                        ${projectName}
                    if userName
                        a.btn.btn-success.btn-xs.pull-right.NewCaseButton(href='#{basepath}/new/${projectId}')
                            span.glyphicon.glyphicon-plus
                            | &nbsp;New case
                .list-inline
                    li
                        span.glyphicon.glyphicon-user
                        |&nbsp;${users && users.length > 0 ? users.length : "Public"}
                    |{{if users}}
                    |{{each users}}
                    li
                        |${this.loginName}
                    |{{/each}}
                    |{{/if}}
            ul.list-group
                |{{if cases.length > 0}}
                |{{tmpl(cases) "#case_tmpl"}}
                |{{else}}
                li.list-group-item (no case)
                |{{/if}}
block bar
    include logo
    .menu
        ul#drop-menu
            if userName
                li#monitors-menu
                    a(href='#') Monitors
                li#settings-menu
                    a(href='#') Settings
                include signout
            else
                include signin
block content
    #dcase-manager.container
        .row
            #selectDCase.col-md-6.col-md-offset-3
                h2 Projects&nbsp;
                    if userName
                        a.btn.btn.btn-success.pull-right.NewProjectButton(href="./project/new")
                            span.glyphicon.glyphicon-plus
                            | &nbsp;New project
                hr
                #ProjectList
