extends layout
block script
    script(type='text/javascript', src='#{basepath}/javascripts/index.js')
    //for XML import
    script(type="text/javascript",src="#{basepath}/assurejs/src/CaseEncoder.js")
    script(type="text/javascript",src="#{basepath}/assurejs/src/Converter.js")
    script(type="text/javascript",src="#{basepath}/assurejs/src/CaseDecoder.js")
    script(type="text/javascript",src="#{basepath}/assurejs/src/CaseModel.js")
    script(type="text/javascript",src="#{basepath}/assurejs/src/PlugInManager.js")

block append content
    script#case_tmpl(type="text/x-jquery-tmpl")
        li.media
            img.media-object.pull-left(data-src="holder.js/64x64",alt="64x64",style="width: 64px; height: 64px;",src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABP0lEQVR4Xu2YQQ7DIAwEyTnfyrN5U245t6ISFUptEhNQEUxvFdTxrsxOyrLv+8tN/FkwgAngCJABE2egIwShABSAAlAACkzsABgEg2AQDILBiSHAnyEwCAbBIBgEg2BwYgeqYNB7/7Vw27YfO+O6tKZ536Km9KzHBqTiJKFXQqSmWtTUjK5qQE5MWLs7AVcTU2JqcwPiA84ipWbPArXvlpqlMVZ1AiQh67q64zg+/aXmpMZoa2G/pWaJCX8zIDSrjXouA8KaZmqXBpybkqZAOzbaBORqWk1oOgGxmSs6WI5ArqZVfNj/2IB0lLWkvxt6WkbUerdo8h5Q4npPv6kyAT0JsvaCAdwIcSPEjRA3QtbkHGk/FIACUAAKQIGRUt2qBQpAASgABaCANTlH2g8FoAAUgAJQYKRUt2qBArNT4A1sFqCQARPBMwAAAABJRU5ErkJggg==")
            .media-body
                h4
                    //|@${dcaseId} 
                    a(href='#{basepath}/case/${dcaseId}') ${dcaseName}
                    a.btn.btn-danger.btn-mini.pull-right.DeleteCaseButton
                        i.icon-trash　&nbsp;
                        |Delete
                    span.pull-right
                        i.icon-sitemap
                        | 0&nbsp;
                p ${description}
                small
                    |${userName} updated 
                    abbr(title="${latestCommit.dateTime}") ${dateTime}
    script#project_tmpl(type="text/x-jquery-tmpl")
        article(id="project${projectId}")
            h3
                //|#${projectId} 
                a(href='#{basepath}/project/${projectId}/edit') ${projectName}
                a.btn.btn-success.btn-small.pull-right.NewCaseButton(href='#{basepath}/new/${projectId}')
                    i.icon-plus　&nbsp;
                    |New case
            ul.inline
                li
                    i.icon-user　&nbsp;
                    |${users && users.length > 0 ? users.length : "Public"}
                |{{if users}}
                |{{each users}}
                li
                    |${this.loginName}
                |{{/each}}
                |{{/if}}
            ul.media-list
                |{{if cases.length > 0}}
                |{{tmpl(cases) "#case_tmpl"}}
                |{{else}}
                li.media
                    .media-body
                        p.text-center (no case)
                |{{/if}}
        hr
block bar
    include logo
    .menu
        ul#drop-menu
            if userName
                li#monitors-menu
                    a(href='#') Monitors
                li#settings-menu
                    a(href='#') Settings
                include signout
            else
                include signin
block content
    #dcase-manager.container
        .row
            #newDCase.span6.offset3(style='display: none;')
                h2= lang.new_DCase
                form.form-horizontal
                    .control-group#newdcase-name
                        label.control-label(for="inputDCaseName")= lang.DCase_name
                        .controls
                            input#inputDCaseName(type="text", id="inputDCaseName")
                    .control-group#newdcase-desc
                        label.control-label(for="inputDesc")= lang.topgoal
                        .controls
                            textarea#inputDesc(rows=5)
                    .control-group
                        .controls
                            button.btn.btn-primary#dcase-create(type="button")= lang.create
            #selectDCase.span6.offset3
                h2 Projects&nbsp;
                    a.btn.btn-success.pull-right.NewProjectButton(href="./project/new")
                        i.icon-plus &nbsp;
                        |New project
                hr
                #ProjectList
