doctype 5
html
    head
        title =title
        link(rel='stylesheet', href='#{basepath}/lib/jquery.svg.css')
        link(rel='stylesheet', href='#{basepath}/lib/jquery.ui.autocomplete.css')
        link(rel='stylesheet', href='#{basepath}/lib/jquery.colorPicker.css')
        link(rel='stylesheet', href='#{basepath}/lib/bootstrap.min.css')
        link(rel='stylesheet', href='#{basepath}/lib/bootstrap.icons.css')
        link(rel='stylesheet', href='#{basepath}/lib/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='#{basepath}/lib/codemirror.css')
        link(rel='stylesheet', href='#{basepath}/stylesheets/dcase-node.css')
        link(rel='stylesheet', href='#{basepath}/stylesheets/viewer.css')
        link(rel='stylesheet', href='#{basepath}/stylesheets/timeline.css')
        link(rel='stylesheet', href='#{basepath}/stylesheets/sidemenu.css')
        link(rel='stylesheet', href='#{basepath}/stylesheets/index.css')
        
        script(type='text/javascript', src='#{basepath}/javascripts/color.js')
        script(type='text/javascript', src='#{basepath}/lib/pointer.min.js')
        script(type='text/javascript', src='#{basepath}/lib/jquery.min.js')
        script(type='text/javascript', src='#{basepath}/lib/jquery.mousewheel.min.js')
        script(type='text/javascript', src='#{basepath}/lib/jquery.draggable.min.js')
        script(type='text/javascript', src='#{basepath}/lib/jquery.svg.min.js')
        script(type='text/javascript', src='#{basepath}/lib/jquery.svganim.min.js')
        script(type='text/javascript', src='#{basepath}/lib/jquery.ui.autocomplete.js')
        script(type='text/javascript', src='#{basepath}/lib/jquery.colorPicker.min.js')
        script(type='text/javascript', src='#{basepath}/lib/jquery.autosize-min.js')
        script(type='text/javascript', src='#{basepath}/lib/bootstrap.min.js')
        script(type='text/javascript', src='#{basepath}/lib/spin.min.js')
        script(type='text/javascript', src='#{basepath}/lib/codemirror.js')
        script(type='text/javascript', src='#{basepath}/javascripts/config.js')
        script(type='text/javascript', src='#{basepath}/javascripts/dcaseviewer.js')
        script(type='text/javascript', src='#{basepath}/javascripts/dcaseviewer-addons.js')
        script(type='text/javascript', src='#{basepath}/javascripts/dnode.js')
        script(type='text/javascript', src='#{basepath}/javascripts/gsnshape.js')
        script(type='text/javascript', src='#{basepath}/javascripts/handler.js')
        script(type='text/javascript', src='#{basepath}/javascripts/timeline.js')
        script(type='text/javascript', src='#{basepath}/javascripts/importfile.js')
        script(type='text/javascript', src='#{basepath}/javascripts/router.js')
        script(type='text/javascript', src='#{basepath}/javascripts/adsComponentView.js')
        script(type='text/javascript', src='#{basepath}/javascripts/ads.js')
        script(type='text/javascript', src='#{basepath}/javascripts/api.js')
        script(type='text/javascript', src='#{basepath}/javascripts/animation.js')
        script(type='text/javascript', src='#{basepath}/javascripts/sidemenu.js')
        script(type='text/javascript', src='#{basepath}/javascripts/index.js')
    body
        block bar
        block content
        block svg
