extends layout
block bar
    include logo
    .menu
        ul#drop-menu
            if userName
                li#monitors-menu
                    a(href='#') Monitors
                li#settings-menu
                    a(href='#') Settings
                include signout
            else
                include signin
block append content
    script#member_tmpl(type="text/x-jquery-tmpl")
        form.form-inline.memberForm
            input.input-large.userName(type="text", placeholder="username", value="${name}")
            |&nbsp;
            input.input-medium.role(type="text", placeholder="role", value="${role}")
            |&nbsp;
            button.btn.btn-danger.DeleteMemberButton
                i.icon-minus &nbsp;
block content
    .container
        .row
            .span6.offset3
                if projectId
                    h2= lang.edit_Project
                else
                    h2= lang.new_Project
                form
                    label(for="inputProjectName")= lang.Project_name
                    input#inputProjectName(type="text")
                    label(for="inputLanguage")= lang.locale
                    select#inputLanguage
                        option(value="en") English
                        option(value="ja") Japanese
                    label.checkbox= lang.public
                        input#inputIsPublic(type="checkbox",checked="checked")
                #MemberList
                    h3= lang.member
                    form.form-inline
                        button.btn.btn-success#AddMemberButton
                            i.icon-plus &nbsp;
                form
                    if projectId
                        button.btn.btn-primary#project-create(type="button")= lang.update
                    else
                        button.btn.btn-primary#project-create(type="button")= lang.create
