extends layout
block bar
    a(href="#{basepath}/")
        img#menu-button(src="#{basepath}/images/ait.png") Menu
    .menu
        ul#drop-menu
            if userName
                li#monitors-menu
                    a(href='#') Monitors
                li#settings-menu
                    a(href='#') Settings
                include signout
            else
                include signin
block content
    #dcase-manager.container-fluid
        .row
            #newProject.span6.offset3
                h2= lang.new_Project
                form.form-horizontal
                    fieldset
                        .control-group
                            label.control-label(for="inputProjectName")= lang.Project_name
                            .controls
                                input#inputProjectName(type="text")
                        .control-group
                            label.control-label(for="inputLanguage")= lang.locale
                            .controls
                                select#inputLanguage
                                    option(value="en") English
                                    option(value="ja") Japanese
                        .control-group
                            .controls
                                label.checkbox= lang.public
                                    input#inputIsPublic(type="checkbox",checked="checked")
                        .control-group
                            .controls
                                button.btn#project-create(type="button")= lang.create

