extends layout
block bar
    include logo
    .menu
        ul#drop-menu
            if userName
                li#monitors-menu
                    a(href='#') Monitors
                li#settings-menu
                    a(href='#') Settings
                include signout
            else
                include signin
block append content
    script#member_tmpl(type="text/x-jquery-tmpl")
        form.form-inline
            input.input-large(type="text", placeholder="username" value="${name}")
            |&nbsp;
            input.input-medium(type="password", placeholder="role" value="${role}")
            |&nbsp;
            button.btn.btn-danger.DeleteMemberButton
                i.icon-minus &nbsp;
block content
    #dcase-manager.container
        .row
            #newProject.span6.offset3
                h2= lang.new_Project
                form
                    label(for="inputProjectName")= lang.Project_name
                    input#inputProjectName(type="text")
                    label(for="inputLanguage")= lang.locale
                    select#inputLanguage
                        option(value="en") English
                        option(value="ja") Japanese
                    label.checkbox= lang.public
                        input#inputIsPublic(type="checkbox",checked="checked")
                #MemberList
                    h3= lang.member
                    form.form-inline#AddMemberButton
                        button.btn.btn-success
                            i.icon-plus &nbsp;
                form
                    button.btn.btn-primary#project-create(type="button")= lang.create